PassiveClientUi/Connected Services/Authentication/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Authentication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ShellTrasferServer/Authentication?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ShellTrasferServer/Authentication?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentication_AuthenticatePassiveClientAndSignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatePassiveClientAndSignIn" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthenticatePassiveClientAndSignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticatePassiveClientAndSignInResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthenticateActiveClientAndSignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateActiveClientAndSignIn" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthenticateActiveClientAndSignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateActiveClientAndSignInResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_ActiveLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:ActiveLogout" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_ActiveLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActiveLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_PassiveLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:PassiveLogout" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_PassiveLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassiveLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_ChangeUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_ChangeUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_SetSecurityQuestionAndAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSecurityQuestionAndAnswer" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_SetSecurityQuestionAndAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSecurityQuestionAndAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_GetSecurityQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestion" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_GetSecurityQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurityQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_RestorePasswordFromUserNameAndSecurityQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:RestorePasswordFromUserNameAndSecurityQuestion" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_RestorePasswordFromUserNameAndSecurityQuestion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestorePasswordFromUserNameAndSecurityQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentication">
    <wsdl:operation name="AuthenticatePassiveClientAndSignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/AuthenticatePassiveClientAndSignIn" message="tns:IAuthentication_AuthenticatePassiveClientAndSignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/AuthenticatePassiveClientAndSignInResponse" message="tns:IAuthentication_AuthenticatePassiveClientAndSignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateActiveClientAndSignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/AuthenticateActiveClientAndSignIn" message="tns:IAuthentication_AuthenticateActiveClientAndSignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/AuthenticateActiveClientAndSignInResponse" message="tns:IAuthentication_AuthenticateActiveClientAndSignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActiveLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/ActiveLogout" message="tns:IAuthentication_ActiveLogout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/ActiveLogoutResponse" message="tns:IAuthentication_ActiveLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassiveLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/PassiveLogout" message="tns:IAuthentication_PassiveLogout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/PassiveLogoutResponse" message="tns:IAuthentication_PassiveLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/SignUp" message="tns:IAuthentication_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/SignUpResponse" message="tns:IAuthentication_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/ChangeUserPassword" message="tns:IAuthentication_ChangeUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/ChangeUserPasswordResponse" message="tns:IAuthentication_ChangeUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSecurityQuestionAndAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/SetSecurityQuestionAndAnswer" message="tns:IAuthentication_SetSecurityQuestionAndAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/SetSecurityQuestionAndAnswerResponse" message="tns:IAuthentication_SetSecurityQuestionAndAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/GetSecurityQuestion" message="tns:IAuthentication_GetSecurityQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/GetSecurityQuestionResponse" message="tns:IAuthentication_GetSecurityQuestion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestorePasswordFromUserNameAndSecurityQuestion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/RestorePasswordFromUserNameAndSecurityQuestion" message="tns:IAuthentication_RestorePasswordFromUserNameAndSecurityQuestion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/RestorePasswordFromUserNameAndSecurityQuestionResponse" message="tns:IAuthentication_RestorePasswordFromUserNameAndSecurityQuestion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthentication" type="tns:IAuthentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticatePassiveClientAndSignIn">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/AuthenticatePassiveClientAndSignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateActiveClientAndSignIn">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/AuthenticateActiveClientAndSignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveLogout">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/ActiveLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassiveLogout">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/PassiveLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSecurityQuestionAndAnswer">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/SetSecurityQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityQuestion">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/GetSecurityQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestorePasswordFromUserNameAndSecurityQuestion">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/RestorePasswordFromUserNameAndSecurityQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="BasicHttpBinding_IAuthentication" binding="tns:BasicHttpBinding_IAuthentication">
      <soap:address location="http://localhost/ShellTrasferServer/Authentication" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>