PassiveClient/Service References/PassiveShell/PassiveShell.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PassiveShell" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ShellTrasferServer/PassiveShell/090914a3-fa13-4de3-8c00-462d6dd3b614?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ShellTrasferServer/PassiveShell/090914a3-fa13-4de3-8c00-462d6dd3b614?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ShellTrasferServer/PassiveShell/090914a3-fa13-4de3-8c00-462d6dd3b614?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPassiveShell_IsTransferingData_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTransferingData" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_IsTransferingData_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTransferingDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_StartTransferData_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTransferData" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_StartTransferData_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartTransferDataResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_PassiveClientRun_InputMessage">
    <wsdl:part name="parameters" element="tns:PassiveClientRun" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_PassiveClientRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassiveClientRunResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_PassiveNextCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:PassiveNextCommand" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_PassiveNextCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassiveNextCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_CommandResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_CommandResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommandResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_HasCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:HasCommand" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_HasCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_HasUploadCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:HasUploadCommand" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_HasUploadCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasUploadCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_HasDownloadCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:HasDownloadCommand" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_HasDownloadCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasDownloadCommandResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileEnded" element="tns:FileEnded" />
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FileSize" element="tns:FileSize" />
    <wsdl:part name="FreshStart" element="tns:FreshStart" />
    <wsdl:part name="Length" element="tns:Length" />
    <wsdl:part name="PathToSaveOnServer" element="tns:PathToSaveOnServer" />
    <wsdl:part name="id" element="tns:id" />
    <wsdl:part name="taskId" element="tns:taskId" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_PassiveDownloadedFile_OutputMessage" />
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_PassiveUploadedFile_InputMessage">
    <wsdl:part name="parameters" element="tns:PassiveUploadedFile" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_PassiveUploadedFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:PassiveUploadedFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_ErrorUploadDownload_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorUploadDownload" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_ErrorUploadDownload_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorUploadDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_ErrorNextCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorNextCommand" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_ErrorNextCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorNextCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_RemoveId_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveId" />
  </wsdl:message>
  <wsdl:message name="IPassiveShell_RemoveId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPassiveShell">
    <wsdl:operation name="IsTransferingData">
      <wsdl:input wsaw:Action="http://tempuri.org/IActiveShellPassiveshell/IsTransferingData" message="tns:IPassiveShell_IsTransferingData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActiveShellPassiveshell/IsTransferingDataResponse" message="tns:IPassiveShell_IsTransferingData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTransferData">
      <wsdl:input wsaw:Action="http://tempuri.org/IActiveShellPassiveshell/StartTransferData" message="tns:IPassiveShell_StartTransferData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActiveShellPassiveshell/StartTransferDataResponse" message="tns:IPassiveShell_StartTransferData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassiveClientRun">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/PassiveClientRun" message="tns:IPassiveShell_PassiveClientRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/PassiveClientRunResponse" message="tns:IPassiveShell_PassiveClientRun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassiveNextCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/PassiveNextCommand" message="tns:IPassiveShell_PassiveNextCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/PassiveNextCommandResponse" message="tns:IPassiveShell_PassiveNextCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommandResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/CommandResponse" message="tns:IPassiveShell_CommandResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/CommandResponseResponse" message="tns:IPassiveShell_CommandResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/HasCommand" message="tns:IPassiveShell_HasCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/HasCommandResponse" message="tns:IPassiveShell_HasCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasUploadCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/HasUploadCommand" message="tns:IPassiveShell_HasUploadCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/HasUploadCommandResponse" message="tns:IPassiveShell_HasUploadCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasDownloadCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/HasDownloadCommand" message="tns:IPassiveShell_HasDownloadCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/HasDownloadCommandResponse" message="tns:IPassiveShell_HasDownloadCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassiveDownloadedFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/PassiveDownloadedFile" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/PassiveDownloadedFileResponse" message="tns:IPassiveShell_PassiveDownloadedFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PassiveGetDownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/PassiveGetDownloadFile" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/PassiveGetDownloadFileResponse" name="DownloadRequest" message="tns:DownloadRequest" />
    </wsdl:operation>
    <wsdl:operation name="PassiveGetUploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/PassiveGetUploadFile" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/PassiveGetUploadFileResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="PassiveUploadedFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/PassiveUploadedFile" message="tns:IPassiveShell_PassiveUploadedFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/PassiveUploadedFileResponse" message="tns:IPassiveShell_PassiveUploadedFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorUploadDownload">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/ErrorUploadDownload" message="tns:IPassiveShell_ErrorUploadDownload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/ErrorUploadDownloadResponse" message="tns:IPassiveShell_ErrorUploadDownload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/Subscribe" message="tns:IPassiveShell_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/SubscribeResponse" message="tns:IPassiveShell_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorNextCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/ErrorNextCommand" message="tns:IPassiveShell_ErrorNextCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/ErrorNextCommandResponse" message="tns:IPassiveShell_ErrorNextCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPassiveShell/RemoveId" message="tns:IPassiveShell_RemoveId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPassiveShell/RemoveIdResponse" message="tns:IPassiveShell_RemoveId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPassiveShell" type="tns:IPassiveShell">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsTransferingData">
      <soap:operation soapAction="http://tempuri.org/IActiveShellPassiveshell/IsTransferingData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransferData">
      <soap:operation soapAction="http://tempuri.org/IActiveShellPassiveshell/StartTransferData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassiveClientRun">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/PassiveClientRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassiveNextCommand">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/PassiveNextCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommandResponse">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/CommandResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasCommand">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/HasCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasUploadCommand">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/HasUploadCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasDownloadCommand">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/HasDownloadCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassiveDownloadedFile">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/PassiveDownloadedFile" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileEnded" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileSize" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="FreshStart" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="PathToSaveOnServer" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="id" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="taskId" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassiveGetDownloadFile">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/PassiveGetDownloadFile" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassiveGetUploadFile">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/PassiveGetUploadFile" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileEnded" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileSize" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="FreshStart" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="PathToSaveOnServer" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="id" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="taskId" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassiveUploadedFile">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/PassiveUploadedFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorUploadDownload">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/ErrorUploadDownload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorNextCommand">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/ErrorNextCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveId">
      <soap:operation soapAction="http://tempuri.org/IPassiveShell/RemoveId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PassiveShell">
    <wsdl:port name="BasicHttpBinding_IPassiveShell" binding="tns:BasicHttpBinding_IPassiveShell">
      <soap:address location="http://localhost/ShellTrasferServer/PassiveShell/090914a3-fa13-4de3-8c00-462d6dd3b614" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>