PassiveClient/Service References/AlertCallBack/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AletCallBack" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAletCallBack_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAletCallBack_RegisterCallBackFunction_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterCallBackFunction" />
  </wsdl:message>
  <wsdl:message name="IAletCallBack_KeepCallBackAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepCallBackAlive" />
  </wsdl:message>
  <wsdl:message name="IAletCallBack_CallBackFunction_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackFunction" />
  </wsdl:message>
  <wsdl:message name="IAletCallBack_KeepCallbackALive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KeepCallbackALive" />
  </wsdl:message>
  <wsdl:portType name="IAletCallBack">
    <wsdl:operation name="RegisterCallBackFunction">
      <wsdl:input wsaw:Action="http://tempuri.org/IAletCallBack/RegisterCallBackFunction" message="tns:IAletCallBack_RegisterCallBackFunction_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepCallBackAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IAletCallBack/KeepCallBackAlive" message="tns:IAletCallBack_KeepCallBackAlive_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallBackFunction">
      <wsdl:output wsaw:Action="http://tempuri.org/IAletCallBack/CallBackFunction" message="tns:IAletCallBack_CallBackFunction_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="KeepCallbackALive">
      <wsdl:output wsaw:Action="http://tempuri.org/IAletCallBack/KeepCallbackALive" message="tns:IAletCallBack_KeepCallbackALive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAletCallBack" type="tns:IAletCallBack">
    <wsp:PolicyReference URI="#NetTcpBinding_IAletCallBack_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterCallBackFunction">
      <soap12:operation soapAction="http://tempuri.org/IAletCallBack/RegisterCallBackFunction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="KeepCallBackAlive">
      <soap12:operation soapAction="http://tempuri.org/IAletCallBack/KeepCallBackAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CallBackFunction">
      <soap12:operation soapAction="http://tempuri.org/IAletCallBack/CallBackFunction" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepCallbackALive">
      <soap12:operation soapAction="http://tempuri.org/IAletCallBack/KeepCallbackALive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AletCallBack">
    <wsdl:port name="NetTcpBinding_IAletCallBack" binding="tns:NetTcpBinding_IAletCallBack">
      <soap12:address location="net.tcp://localhost/ShellTrasferServer/CallBack/090914a3-fa13-4de3-8c00-462d6dd3b614" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost/ShellTrasferServer/CallBack/090914a3-fa13-4de3-8c00-462d6dd3b614</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>